body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    margin: 20px;
    height: 100vh;
}

nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #69696a;
    margin-bottom: 10px;
    width: 20%;
    margin-top: 1.65em;
}

.title {
    font-weight: bold;
    color: #000;
}

.navlink {
    font-size: 14px;
    margin-top: 0;
}

button {
    width: 100%;
    color: #FFF;
    background-color: #000;
    border: none;
    height: 35px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    border-left: 2px #69696a solid;
    padding: 0 15px;
    color: #69696a;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 0;
}

@media (min-width: 768px) {

    body {
        margin: 20px 20px;
    }

    /* header and nav bar */

    header, nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .title {
        padding: 0;
        flex-grow: 2;
        width: 40%;
    }

    nav a {
        display: flex;
        justify-content: space-evenly;
        width: auto;
        padding: 0 5px;
        margin: 0;
    }

    .hire-us {
        margin-left: 10px;
        width: 100px;
    }

    /* main section with description and circles */

    main {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    .pink {
        background: rgba(247, 136, 167, 0.6);
        height: 200px;
        width: 200px;
        position: absolute;
        top: 178px;
        right: 90px;
        border-radius: 100%;
    }

    .purple {
        background: rgba(207, 130, 213, 0.6);
        height: 120px;
        width: 120px;
        border-radius: 100%;
        position: absolute;
        top: 195px;
        right: 20px;
    }

    .orange {
        background: rgba(247, 193, 162, 0.7);
        height: 150px;
        width: 150px;
        border-radius: 100%;
        position: absolute;
        right: 20px;
        top: 280px;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    /* scroll down button */

    .scroll {
        width: 120px;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,-50%);
    }

}